.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 0 auto;
    width: 95vw;
    background-color: rgb(43, 42, 51);
    padding: 1rem;
  }

  .card-container--detailed-profile {
    margin: 0 auto;
    width: 95vw;
    background-color: rgb(43, 42, 51);
    padding: 1rem;
  }

  @media only screen and (max-width: 1500px) {

    .card-container {
      grid-template-columns: repeat(3, 1fr);
    }
    
    
    }
    
    @media only screen and  (max-width: 850px) {
      
      .card-container {
        grid-template-columns: repeat(2, 1fr);
        
      }
      
      }
      
      @media only screen and (max-width: 600px) {
      
        .card-container {
          grid-template-columns: repeat(1, 1fr);
        }
      }