.navbar__searchbox {
    border: none;
    outline: none;
    color: rgba(249, 249, 250, 1);
    margin-right: 3%;
    padding: .75rem;
    width: 20rem;
    border-radius: 10px;
    background-color: #42414d;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.50);
    
}